/* .btn {
    color: #fefefe;
    background: #62757f;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border: 4px solid #62757f;
    text-align: center;
}

.btn:hover {
    background: transparent;
}

.btn1 {
    border-radius: 15px;
    border: 4px double #62757f;
}

.btn1:hover {
    color: #62757f;
} */